*.DS_Store
*.pyc
.git

env
venv

node_modules/
npm-debug.log
bower_components/
.module-cache

.vscode/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

model_*
checkpoint
*_input.txt